*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FD84BA;
    color: #FFFFFF;
}
#header {
    width: 100%;
    height: 100px;
    background-image: url(images/Folder.png);
    background-size: ;
    background-position: center;
}